a:link {
	color:#00ff00;	
}

a:visited {
	color:#ffff00;
}

body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #ffffff;
	background: url(http://a4.files.blazepress.com/image/upload/MTI5MDE2MDg5NjE4MzIyNzA2.gif);
	background-size: 4% 4%;
	padding-left: 15px;
}

h1 {
	font-size: 2.0em;
	font-style: italic;
	text-align: center;
	text-shadow: 3px 3px #000000;
}

h2 {
	font-size: 1.2em;
	text-shadow: 2px 2px #000000;
	text-align: left;
}

table {
	margin-left: inherit;
	margin-right: inherit;
	border-collapse: collapse;
	
}

td {
    padding: 5px;
    border: solid;
    border-color: #ffffff;
    
}
tr {
	border: 3px solid #ffffff;
	text-align: center;
	background-color:#003333; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #006666;
